<h1><%= @song.title %></h1>
<h2><%= link_to @song.artist.name, @song.artist %></h2>
<br>
<div id="song-show">
  <div>
    <img src="<%=@song.image%>" alt="<%=@song.title%>" style="width:300px;height:300px;">
  </div>
  <br>
  <div>
    <audio controls loop>
      <source src="<%=@song.preview%>" type="audio/ogg">
      Your browser does not support the audio tag.
    </audio>
    <br><br>
    <% if current_user.playlists.count != 0 %>
      <% if @playlist_id %>
          <%= button_to "Add to Playlist", playlist_song_playlist_songs_path(playlist_id: @playlist_id, song_id: @song.id), method: :post %>
      <% else %>
          <%= button_to "Add to Playlist", new_song_playlist_song_path(@song.id), method: :get%>
      <% end %>
    <% end %>
  </div>
</div>

